<h2 style="text-align: center; font-family:Arial, Helvetica, sans-serif">Post deletado com sucesso!</h2>
<a href="/"><button style="border: none; padding: 10px; background: #2ca58d; font-size: 16px; margin-top:20px;">Voltar</button></a>